### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [65]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [66]:
total_players = purchase_data['Purchase ID'].count()
total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [67]:
Unique_items = len(purchase_data["Item ID"].unique())

avg_price = purchase_data['Price'].mean()
total_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()
summary_table1 = pd.DataFrame({"Number of Unique Items": Unique_items, "Average Price": [avg_price], "Total Purchases": [total_purchases], "Total Revenue": [total_revenue]})
summary_table1

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [68]:
percent_gender = purchase_data['Gender'].value_counts('Male')*100
count_gender = (percent_gender/100)*780
summary_table2 = pd.DataFrame({"Gender Count": count_gender, "Gender Percent": percent_gender})
summary_table2

                       Gender Count  Gender Percent
Male                          652.0       83.589744
Female                        113.0       14.487179
Other / Non-Disclosed          15.0        1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [69]:
gendered = purchase_data.groupby("Gender")
gender_price_avg = gendered["Price"].mean()
gender_purchase_val = gendered["Price"].sum()
gender_total_avg = gender_purchase_val/count_gender

summary_table = pd.DataFrame({"Purchase Count": count_gender, "Average Purchase Price": gender_price_avg, "Total Purchase Value": gender_purchase_val,"Avg Total Per Person":gender_total_avg})
summary_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Per Person
Female,113.0,3.203009,361.94,3.203009
Male,652.0,3.017853,1967.64,3.017853
Other / Non-Disclosed,15.0,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [70]:
Age_bin = [0, 10, 20, 30, 40, 50, 60, 100]
age_names = ["<10", "10-19", "20-29", "30-39", "40-49", "50-59", "60<"]
purchase_data[Ages] = pd.cut(purchase_data["Age"], Age_bin, labels=age_names)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [71]:
bin = purchase_data["Age"]
agist = purchase_data.groupby["Age"]
age_avg_price = agist["Price"].mean()
age_purchase = agist["Price"].sum()
avg_by_age = age_avg_price/bin

TypeError: 'method' object is not subscriptable

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [72]:
Top_spender = purchase_data["Purchase ID"].groupby('SN')
Top_spender

KeyError: 'SN'

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [80]:
max_item = purchase_data["Item ID"].max()
max_item_name = purchase_data["Item Name"].max()
purchase_count = purchase_data["Item ID"].value_counts("max_item")
purchase_count

92     0.016667
178    0.015385
108    0.011538
132    0.011538
82     0.011538
         ...
104    0.001282
27     0.001282
134    0.001282
118    0.001282
91     0.001282
Name: Item ID, Length: 179, dtype: float64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [83]:
popular = max_item["Item ID"].sort()
popular

TypeError: 'int' object is not subscriptable